In [ ]:
import pandas as pd
df = pd.read_csv('file.csv')

In [1]:
# How do you filter rows in a DataFrame based on a condition?

In [ ]:
# Example: Filter rows where column 'A' is greater than 5
filtered_df = df[df['A'] > 5]

In [ ]:
#  How do you handle missing data in pandas

In [ ]:
df.dropna()  # Drops rows with any NaN values

In [ ]:
df.fillna(0)  # Replaces NaN values with 0

In [ ]:
df.fillna(method='ffill')  # Fills NaN values with the last valid value (forward fill)
df.fillna(method='bfill')  # Fills NaN values with the next valid value (backward fill)

In [ ]:
# How do you merge two DataFrames in pandas

In [ ]:
# Example: Merge df1 and df2 on column 'id'
merged_df = pd.merge(df1, df2, on='id', how='inner')

In [ ]:
# How do you add a new column to a DataFrame

In [ ]:
# Example: Add column 'C' as the sum of columns 'A' and 'B'
df['C'] = df['A'] + df['B']

In [ ]:
# How do you get the top N rows of a DataFrame sorted by a specific column

In [ ]:
# Example: Get top 5 rows sorted by column 'A'
top_n = df.nlargest(5, 'A')

# Alternatively:
top_n = df.sort_values(by='A', ascending=False).head(5)