Tuples are ordered, it means that the items have a defined order, and that order will not change.

In [1]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")

In [2]:
len(thistuple)

5

In [3]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [4]:
thistuple[1]

'banana'

In [5]:
thistuple[1]="apple"
thistuple

TypeError: 'tuple' object does not support item assignment

In [6]:
thistuple[-1]

'cherry'

In [7]:
#unpacking tuples

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [8]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [9]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [10]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(i)
  print(thistuple[i])

0
apple
1
banana
2
cherry

In [11]:
range(3)

range(0, 3)

Set items are unordered, unchangeable, and do not allow duplicate values.

In [7]:
thisset = {"apple", "banana", "cherry", "apple"}

In [8]:
thisset[0]

TypeError: 'set' object is not subscriptable

In [10]:
thisset = {"apple", "apple", "banana", "cherry", "apple"}
thisset

{'apple', 'banana', 'cherry'}

In [11]:
len(thisset)

3

In [12]:
thisset.add("apple")
thisset

{'apple', 'banana', 'cherry'}

Note: Sets are unordered, so you cannot be sure in which order the items will appear.

In [13]:
thisset = {"apple", "banana", "cherry"}
thisset1 = {"pineapple", "mango", "papaya"}

thisset.update(thisset1)
thisset

{'apple', 'banana', 'cherry', 'mango', 'papaya', 'pineapple'}

In [14]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)
thisset

{'apple', 'banana', 'cherry', 'kiwi', 'orange'}

The union() method returns a new set with all items from both sets.

In [16]:
set1 = {"a", "b", "c"}
set2 = {"a", 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 2, 3, 'a', 'c'}

In [17]:
l1=[1,2,3]
l2 =["a","b"]
l3=l1.union(l2)
l3

AttributeError: 'list' object has no attribute 'union'

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates

In [20]:
mydict= {"name": "anushka", "age":23, "address": "Mumbai", "profession":["Engineer", "Trader"]}

len(mydict)

4

In [24]:
mydict.keys()

dict_keys(['name', 'age', 'address', 'profession'])

In [25]:
mydict.values()

dict_values(['anushka', 23, 'mumbai', ['Engineer', 'Trader']])

In [23]:
mydict.get("name")

'anushka'

In [27]:
#Get a list of the key:value pairs
mydict.items()

dict_items([('name', 'anushka'), ('age', 23), ('address', 'mumbai'), ('profession', ['Engineer', 'Trader'])])

In [28]:
mydict["name"]

'anushka'

In [37]:
mydict.update({"phone": 123456789},)
mydict

{'name': 'anushka',
 'age': 23,
 'address': 'mumbai',
 'profession': ['Engineer', 'Trader'],
 'phone': 123456789}

In [39]:
mydict.popitem()

('phone', 123456789)

In [40]:
for i in mydict:
    print(i)

name
age
address
profession

In [42]:
for i in mydict.values():
    print(i)

anushka
23
mumbai
['Engineer', 'Trader']

In [43]:
for i in mydict.keys():
    print(i)

name
age
address
profession

In [47]:
for i in mydict.items():
    print(i)

('name', 'anushka')
('age', 23)
('address', 'mumbai')
('profession', ['Engineer', 'Trader'])

In [48]:
mydict1={
"name": "anushka",
"age":23,
"contact_info":{"phone": "123-456-7890", "email": "anushka@example.com"},
"education": {"degree": "B.Sc", "university": "XYZ University",}
}

In [51]:
for i,j in mydict1.items():
    print(i,"----",j)

name ---- anushka
age ---- 23
contact_info ---- {'phone': '123-456-7890', 'email': 'anushka@example.com'}
education ---- {'degree': 'B.Sc', 'university': 'XYZ University'}

In [54]:
mydict1={
"contact_info":{"phone": "123-456-7890", "email": "anushka@example.com"},
"education": {"degree": "B.Sc", "university": "XYZ University",}
}
for i,j in mydict1.items():
    print(i,"----",j)
    for y in j.values():
        print("y--",y)

contact_info ---- {'phone': '123-456-7890', 'email': 'anushka@example.com'}
y-- 123-456-7890
y-- anushka@example.com
education ---- {'degree': 'B.Sc', 'university': 'XYZ University'}
y-- B.Sc
y-- XYZ University

In [55]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [56]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [57]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [58]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [60]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [61]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [64]:
def my_function(**kid):
  print("His last name is " + kid["lname"]+"and first name is "+kid["fname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnesand first name is Tobias