You have a DataFrame of sales data with columns for Date, Product, and Sales. You want to calculate the total monthly sales for each product.

In [1]:
import pandas as pd

data = {
    'Date': ['2023-01-15', '2023-01-20', '2023-02-14', '2023-02-15', '2023-03-01'],
    'Product': ['A', 'A', 'B', 'A', 'B'],
    'Sales': [100, 150, 200, 120, 130]
}
df = pd.DataFrame(data)

In [2]:
df['Date'] = pd.to_datetime(df['Date'])
df

        Date Product  Sales
0 2023-01-15       A    100
1 2023-01-20       A    150
2 2023-02-14       B    200
3 2023-02-15       A    120
4 2023-03-01       B    130

In [3]:
monthly_sales = df.groupby(['Product', pd.Grouper(key='Date', freq='M')]).sum().reset_index()
monthly_sales

/tmp/ipykernel_27193/445285842.py:1: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_sales = df.groupby(['Product', pd.Grouper(key='Date', freq='M')]).sum().reset_index()

  Product       Date  Sales
0       A 2023-01-31    250
1       A 2023-02-28    120
2       B 2023-02-28    200
3       B 2023-03-31    130