In [2]:

import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "Diana", "Eve"],
    "Subject": ["Math", "Science", "History", "Math", "Science"],
    "Score": [85, 90, 75, 95, 70]
}
df = pd.DataFrame(data)

# Find the average score
average_score = df["Score"].mean()

# Get students with scores above the average
above_average = df[df["Score"] > average_score]

In [3]:
average_score

83.0

In [4]:
above_average

    Name  Subject  Score
0  Alice     Math     85
1    Bob  Science     90
3  Diana     Math     95