## Python challenging programming exercises for all levels

In [ ]:
"""
Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.
"""

In [9]:
num = []
for i in range(2000, 3201):
    if i % 7 == 0 and i % 5 != 0:
        num.append(str(i))
print(num)
print(",".join(num))

['2002', '2009', '2016', '2023', '2037', '2044', '2051', '2058', '2072', '2079', '2086', '2093', '2107', '2114', '2121', '2128', '2142', '2149', '2156', '2163', '2177', '2184', '2191', '2198', '2212', '2219', '2226', '2233', '2247', '2254', '2261', '2268', '2282', '2289', '2296', '2303', '2317', '2324', '2331', '2338', '2352', '2359', '2366', '2373', '2387', '2394', '2401', '2408', '2422', '2429', '2436', '2443', '2457', '2464', '2471', '2478', '2492', '2499', '2506', '2513', '2527', '2534', '2541', '2548', '2562', '2569', '2576', '2583', '2597', '2604', '2611', '2618', '2632', '2639', '2646', '2653', '2667', '2674', '2681', '2688', '2702', '2709', '2716', '2723', '2737', '2744', '2751', '2758', '2772', '2779', '2786', '2793', '2807', '2814', '2821', '2828', '2842', '2849', '2856', '2863', '2877', '2884', '2891', '2898', '2912', '2919', '2926', '2933', '2947', '2954', '2961', '2968', '2982', '2989', '2996', '3003', '3017', '3024', '3031', '3038', '3052', '3059', '3066', '3073', '3087', '3094', '3101', '3108', '3122', '3129', '3136', '3143', '3157', '3164', '3171', '3178', '3192', '3199']
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

In [ ]:
"""
Write a program which can compute the factorial of a given numbers.
The results should be printed in a comma-separated sequence on a single line.
Suppose the following input is supplied to the program:
8
Then, the output should be:
40320
"""

In [19]:
Fact = 1
num = 4
for i in range(1,num+1):
    print(i)
    Fact+=Fact * i
print(Fact)

1
2
3
4
120

In [ ]:
"""
With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
Suppose the following input is supplied to the program:
"""

In [10]:
num = 5
og_num = []
sq_num = []
final_dict = dict()
for i in range(1,num+1):
    og_num.append(i)
    sq_num.append(i*i)

In [19]:
for j in og_num:
    final_dict[j] = j*j

In [20]:
final_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [22]:
"""
Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the following input is supplied to the program:
"""

'\nWrite a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.\nSuppose the following input is supplied to the program:\n'

In [33]:
lst_inp = (input())
lst_inp.split(",")
l1 = list(lst_inp)
print(l1)

 8,99,8

['8', ',', '9', '9', ',', '8']

In [34]:
"""
Define a class which has at least two methods:
getString: to get a string from console input
printString: to print the string in upper case.
Also please include simple test function to test the class methods
"""

SyntaxError: incomplete input (969763094.py, line 1)

In [55]:
class string():
    def __init__(self):
        self.s = ""
        
    def get_string(self):
        self.s = input()

    def print_string(self):
        print(self.s.upper())

In [56]:
w = string()

In [58]:
w.get_string()

 okoko

In [59]:
w.print_string()

OKOKO

In [ ]:
"""
Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]
Following are the fixed values of C and H:
C is 50. H is 30.
D is the variable whose values should be input to your program in a comma-separated sequence.
Example
Let us assume the following comma separated input sequence is given to the program:
100,150,180
The output of the program should be:
18,22,24
"""

In [75]:
c = 50
h = 30
#Q = ((2 * c * d)/h)**0.5
imp = input()
sep_inp = (imp.split(","))
print(sep_inp)
#sep_inp = int(sep_inp)
#print("###",sep_inp)
total = []
for i in (sep_inp):
    Q = ((2 * c * int(i))/h)**0.5
    total.append(round(Q,2))
print(total)

 7,8,9

['7', '8', '9']
[4.83, 5.16, 5.48]

In [76]:
"""
Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j.
Note: i=0,1.., X-1; j=0,1,¡­Y-1.
"""

SyntaxError: incomplete input (969763094.py, line 1)

In [79]:
x = 3
y = 5
for i in range(1,x+1):
    for j in range(i):
        print(j,end =" ")
    print()

0
0 1
0 1 2

In [80]:
"""
Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.
Suppose the following input is supplied to the program:
without,hello,bag,world
Then, the output should be:
bag,hello,without,world
"""

SyntaxError: incomplete input (969763094.py, line 1)

In [90]:
words = input()
sep_words = words.split(",")
sep_words.sort()
print(sep_words)

 stablity , bug fixing , activity

[' activity ', ' bug fixing ', 'stablity ']

In [88]:
print(type(sep_words))

<class 'str'>

In [ ]:
"""
Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.
Suppose the following input is supplied to the program:
Hello world
Practice makes perfect
Then, the output should be:
HELLO WORLD
PRACTICE MAKES PERFECT
"""

In [93]:
seq_lines = input()
new_list = seq_lines.split('\n')
print(new_list)
for i in new_list:
    print(i.upper())

 prorirty is track everything, representation understandable UI  workflow tracking

['prorirty is track everything, representation understandable UI  workflow tracking ']
PRORIRTY IS TRACK EVERYTHING, REPRESENTATION UNDERSTANDABLE UI  WORKFLOW TRACKING

In [ ]:
"""
Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the following input is supplied to the program:
hello world and practice makes perfect and hello world again
Then, the output should be:
again and hello makes perfect practice world
"""

In [102]:
s = input()
words = [word for word in s.split(" ")]
print( " ".join(sorted(list(set(words)))))

 Chinmay Mangesh Bhalerao

Bhalerao Chinmay Mangesh