In [1]:
import pandas as pd

data = {
    "Employee": ["John", "Alice", "Bob", "Eve", "Charlie", "Diana"],
    "Department": ["IT", "HR", "IT", "Finance", "Finance", "HR"],
    "Salary": [60000, 50000, 70000, 55000, 45000, 52000],
    "Years of Experience": [6, 4, 8, 5, 3, 7]
}
df = pd.DataFrame(data)

In [2]:
# Calculate average salary by department
avg_salary_by_dept = df.groupby("Department")["Salary"].mean()
avg_salary_by_dept

Department
Finance    50000.0
HR         51000.0
IT         65000.0
Name: Salary, dtype: float64

In [3]:
# Find the highest-paid employee
highest_paid = df.loc[df["Salary"].idxmax()]
highest_paid

Employee                 Bob
Department                IT
Salary                 70000
Years of Experience        8
Name: 2, dtype: object

In [4]:
# Filter employees with > 5 years experience and salary > 50,000
experienced_high_salary = df[(df["Years of Experience"] > 5) & (df["Salary"] > 50000)]
experienced_high_salary

  Employee Department  Salary  Years of Experience
0     John         IT   60000                    6
2      Bob         IT   70000                    8
5    Diana         HR   52000                    7