In [1]:
import pandas as pd

In [2]:
iris = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [3]:
df = pd.read_csv(iris, sep=',')
df.head(5)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
columns_name = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
df.columns = columns_name
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [5]:
sums = 0
for i in df['petal_width']:
    sums+=i

avg = sums/len(df['petal_width'])
print(avg)

1.2053691275167793

In [6]:
avg1=sum(df['petal_width'])/len(df['petal_width'])
avg1

1.2053691275167793

In [1]:
####################################

You are given a dataset in the form of a Pandas DataFrame containing sales data for different products across various regions. The columns of the DataFrame are:

'Product': The name of the product.
'Region': The region where the product was sold.
'Sales': The number of units sold.
The DataFrame may contain duplicate entries for the same product in the same region. Your task is to aggregate the sales data by summing the sales for each product-region combination, and then sort the result by total sales in descending order.

In [2]:
data = {
    'Product': ['A', 'A', 'B', 'B', 'C', 'A', 'C'],
    'Region': ['North', 'South', 'North', 'South', 'North', 'North', 'South'],
    'Sales': [100, 200, 150, 300, 250, 50, 100]
}

In [4]:
import pandas as pd
df  = pd.DataFrame(data)
df

  Product Region  Sales
0       A  North    100
1       A  South    200
2       B  North    150
3       B  South    300
4       C  North    250
5       A  North     50
6       C  South    100

In [6]:
df.duplicated(subset = ['Product','Region'])

0    False
1    False
2    False
3    False
4    False
5     True
6    False
dtype: bool

In [11]:
group = df.groupby(['Product','Region'], as_index=False)['Sales'].sum()
group

  Product Region  Sales
0       A  North    150
1       A  South    200
2       B  North    150
3       B  South    300
4       C  North    250
5       C  South    100