In [1]:
import pandas as pd

In [2]:
iris = 'http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'

In [3]:
df = pd.read_csv(iris, sep=',')
df.head(5)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [4]:
columns_name = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
df.columns = columns_name
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           4.9          3.0           1.4          0.2  Iris-setosa
1           4.7          3.2           1.3          0.2  Iris-setosa
2           4.6          3.1           1.5          0.2  Iris-setosa
3           5.0          3.6           1.4          0.2  Iris-setosa
4           5.4          3.9           1.7          0.4  Iris-setosa

In [5]:
sums = 0
for i in df['petal_width']:
    sums+=i

avg = sums/len(df['petal_width'])
print(avg)

1.2053691275167793

In [6]:
avg1=sum(df['petal_width'])/len(df['petal_width'])
avg1

1.2053691275167793