In [1]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'San Francisco', 'Los Angeles', 'Chicago'],
    'Salary': [70000, 80000, 120000, 90000],
    'Date': ['2023-01-01', '2023-02-15', '2023-03-10', '2023-04-20']
}

In [9]:
for key, emp in data.items():
    if key=="Name" or key=="Age":
        print(key, "===",emp)

Name === ['Alice', 'Bob', 'Charlie', 'David']
Age === [25, 30, 35, 40]