In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("/home/anushkas/Downloads/insurance.csv")
df.head()

   age     sex    bmi  children smoker     region     charges  insurance_claim
0   19    male  33.77         0    yes  southwest  16884.9240                0
1   18    male  33.77         1     no  southeast   1725.5523                0
2   28    male  33.00         3     no  southeast   4449.4620                0
3   32    male  28.14         0     no  northwest   3866.8552                1
4   31  female  25.74         0     no  southeast   3756.6216                0

In [3]:
my_data = {"naame":["anushka", "sai", "sneha"],
          "age":[23, 16, 34],
          }

In [4]:
my_df = pd.DataFrame(my_data)
my_df

     naame  age
0  anushka   23
1      sai   16
2    sneha   34

In [5]:
a = [1, 7, 2]

myvar = pd.Series(a)

In [6]:
i = pd.Series(a, index=["x","y","z"])
i

x    1
y    7
z    2
dtype: int64

In [7]:

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)
myvar

day1    420
day2    380
day3    390
dtype: int64

In [8]:
print(calories)
myvar =pd.Series(calories, index=["x","y"])
myvar

{'day1': 420, 'day2': 380, 'day3': 390}

x   NaN
y   NaN
dtype: float64

In [9]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2","day3"])

print(myvar)

day1    420
day2    380
day3    390
dtype: int64