In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("/home/anushkas/Downloads/insurance.csv")
df.head(4)

   age   sex    bmi  children smoker     region     charges  insurance_claim
0   19  male  33.77         0    yes  southwest  16884.9240                0
1   18  male  33.77         1     no  southeast   1725.5523                0
2   28  male  33.00         3     no  southeast   4449.4620                0
3   32  male  28.14         0     no  northwest   3866.8552                1

In [3]:
df.shape

(936, 8)

In [4]:
new_df = df.dropna()
new_df.shape

(936, 8)

In [5]:
df.dropna(inplace = True)

In [6]:
df.fillna(130, inplace = True)

In [7]:
df["region"].fillna(130, inplace = True)

/tmp/ipykernel_5631/1097936941.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["region"].fillna(130, inplace = True)

In [8]:
m = df["children"].mean()

In [9]:
df["children"].fillna(m, inplace = True)

/tmp/ipykernel_5631/567137015.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["children"].fillna(m, inplace = True)

In [10]:
x = df["region"].mode()[0]
print(x)
df["region"].fillna(x, inplace = True)

southeast

/tmp/ipykernel_5631/3570380738.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["region"].fillna(x, inplace = True)