Using Pandas, perform the following tasks:

Read the dataset from a CSV file into a DataFrame.
Find the total number of employees in each department.
Calculate the average salary for each department.
Sort the DataFrame by Salary in descending order and display the top 5 highest-paid employees.

In [2]:
data = {
    'Employee_ID': [101, 102, 103, 104, 105],
    'Department': ['Engineering', 'Marketing', 'HR', 'Engineering', 'Sales'],
    'Salary': [75000, 55000, 50000, 80000, 70000],
    'Date_of_Joining': ['2018-05-20', '2020-06-15', '2019-03-10', '2021-07-01', '2020-09-05']
}

In [3]:
import pandas as pd

df = pd.DataFrame(data)

Find the total number of employees in each department.

In [6]:
df.groupby('Department')['Employee_ID'].count()

Department
Engineering    2
HR             1
Marketing      1
Sales          1
Name: Employee_ID, dtype: int64

Calculate the average salary for each department.

In [9]:
sums = df.groupby('Department')['Salary'].mean()
sums

Department
Engineering    77500.0
HR             50000.0
Marketing      55000.0
Sales          70000.0
Name: Salary, dtype: float64

Sort the DataFrame by Salary in descending order and display the top 5 highest-paid employees.

In [14]:
df.sort_values(by='Salary', ascending=False).head(5)

   Employee_ID   Department  Salary Date_of_Joining
3          104  Engineering   80000      2021-07-01
0          101  Engineering   75000      2018-05-20
4          105        Sales   70000      2020-09-05
1          102    Marketing   55000      2020-06-15
2          103           HR   50000      2019-03-10

In [1]:
#################################

Find the average age of employees

In [3]:
employees = [
    {"name": "Alice", "age": 30, "department": "HR"},
    {"name": "Bob", "age": 25, "department": "Engineering"},
    {"name": "Charlie", "age": 35, "department": "Marketing"},
    {"name": "Diana", "age": 28, "department": "Engineering"},
    {"name": "Eve", "age": 40, "department": "HR"}
]

In [6]:
sums = 0
length = 0
for i in employees:
    sums +=i['age']
    length +=1

avg = sums/length
avg

158
5

31.6