In [1]:
import pandas as pd
import numpy as np

# Set a random seed for reproducibility
np.random.seed(42)

# Create a DataFrame with 50 rows and 5 columns of random integers
data = pd.DataFrame(
    np.random.randint(0, 100, size=(50, 5)),
    columns=['Column1', 'Column2', 'Column3', 'Column4', 'Column5']
)

# Add two categorical features
categories1 = ['Category_A', 'Category_B', 'Category_C']
categories2 = ['Type_X', 'Type_Y']

data['CategoryFeature1'] = np.random.choice(categories1, size=50)
data['CategoryFeature2'] = np.random.choice(categories2, size=50)

# Display the first few rows
print(data.head())

   Column1  Column2  Column3  Column4  Column5 CategoryFeature1  \
0       51       92       14       71       60       Category_C
1       20       82       86       74       74       Category_C
2       87       99       23        2       21       Category_A
3       52        1       87       29       37       Category_A
4        1       63       59       20       32       Category_C

  CategoryFeature2
0           Type_Y
1           Type_Y
2           Type_Y
3           Type_X
4           Type_Y

In [3]:
data.head(2)

,Column1,Column2,Column3,Column4,Column5,CategoryFeature1,CategoryFeature2
0,51,92,14,71,60,Category_C,Type_Y
1,20,82,86,74,74,Category_C,Type_Y

In [6]:
data[['Column1', 'CategoryFeature2']].head(2)

   Column1 CategoryFeature2
0       51           Type_Y
1       20           Type_Y

In [12]:
type(data.loc[1])

pandas.core.series.Series

In [14]:
data.loc[1][0]

/tmp/ipykernel_5147/1999701760.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  data.loc[1][0]

20